---
id: verification
title: Verification
---

To verify data, you need to be provided with some information about that data to enable you to make an informed decision to trust the source. Using Veramo, you can configure your verification rules and include public registries. Verification is very subjective and may contain app-specific logic, but we aspire to make this easy for developers to get started with as little setup as possible. We provide plugins for a number of use cases.

Some notes:

How do we make these easy?

- Chain of Trust
- Complex Verification
- Central Register
