/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;

  --ifm-navbar-link-color: #ffffff;

  --ifm-menu-color-active: #6d6d6d;
  --ifm-menu-color: #6d6d6d;

  /* --ifm-font-family-base: "Helvetica Neue, sans-serif"; */

  --brand: #25c2a0;
  --body-text-primary: #4e4e4e;
}

.main-wrapper.home-page {
  overflow-x: hidden;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar {
  background-color: #0a1f2b;
}
.navbar__brand:hover {
  color: var(--ifm-navbar-link-color);
}
.navbar__link--active {
  color: var(--ifm-navbar-link-color);
}
.hero--primary {
  background-color: #0d2a39;
}
.hero__title {
  color: var(--brand);
  font-size: 7rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}
.hero__subtitle {
  font-size: 2rem;
}

.promoText {
  color: var(--body-text-primary);
}

.menu__link.menu__link--active {
  color: black;
}

@media only screen and (min-width: 961px) {
  .tooling .column.right .prism-code {
    margin-right: -9999px;
    padding: 0;
    border-radius: 0;
    height: 450px;
  }
}
