---
id: verification
title: Verification
---

To verify data you need to be provided with some information about that data that will enable you to make an informed decision to trust the source. Using verifiable you can configure you verification rules and include public registries. Verification is very subjective and may contain app specific login but we aspire to make this easy for developers to get started with as little setup as possible. We provide plugins for a number of use cases.

Some notes:

How do we make these easy?

- Chain of Trust
- Complex Verification
- Central Register
